[backup]
name = my_backup_name

[ftp_server]
host = 192.168.1.7
port = 21
username = your_ftp_user
password = your_ftp_password

[email_settings]
subject = Backup done
from = non-reply@yourdomain.com
to = user@yourdomain.com
message = Backup done successfully