[backup]
name = my_backup_name
rotation = 0            # 0 means 'no rotation'

[db]
backend = mysql|postgresql
host = localhost
port = 3306|5432
username = your_db_username
password = your_db_password

[ftp_server]
host = 192.168.1.7
port = 21
username = your_ftp_username
password = your_ftp_password

[email_settings]
subject = Backup done
from = non-reply@yourdomain.com
to = user@yourdomain.com
message = Backup done successfully